/*!
 * Based on: smartbanner.js v1.10.0 <https://github.com/ain/smartbanner.js>
 * Copyright: © 2018 Ain Tohvri, contributors. Licensed under GPL-3.0.
 */
.smartbanner {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100px;
  color: #000;
  background: #fff;
  font-family: Helvetica, sans, sans-serif;
  }
  .smartbanner__exit {
    position: absolute;
    top: calc(50% - 6px);
    left: 9px;
    display: block;
    margin: 0;
    width: 12px;
    height: 12px;
    border: 0;
    text-align: center; }
    .smartbanner__exit::before, .smartbanner__exit::after {
      position: absolute;
      width: 1px;
      height: 12px;
      background: #000;
      content: ' '; }
    .smartbanner__exit::before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .smartbanner__exit::after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .smartbanner__icon {
    position: absolute;
    left: 25px;
    width: 64px;
    height: 64px;
    border-radius: 15px;
    background-size: 64px 64px;
    top: 50%;
    transform: translateY(-50%); }
  .smartbanner__info {
    position: absolute;
    top: 10px;
    left: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: hidden;
    width: 45%;
    height: 80px;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;}
    .smartbanner__info > div {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-flow: column;
      -moz-flex-flow: column;
      -ms-flex-flow: column;
      -o-flex-flow: column;
      flex-flow: column;
      justify-content: space-between;
      width: 100%;
    }
    .smartbanner__info__title {
      font-size: 14px;
      line-height: 14px;
    }
    .smartbanner__info__title, .smartbanner__info__author {
      font-family: 'LandRoverWide-Demi';
      text-transform: uppercase;
    }
    .smartbanner__info__price {
      font-family: Arial;
    }
    .smartbanner__info__author {
      font-size: 10px;
    }
    .smartbanner__info__price {
      font-size: 8px;
      background-image: url(stars.png);
      background-size: contain;
      background-position: center left;
      background-repeat: no-repeat;
      color: transparent;
      max-width: 140px;
    }

  .smartbanner__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 1;
    display: block;
    min-width: 10%;
    border-radius: 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 0;
    min-width: 10%;
    background: #000;
    font-size: 12px;
    border: none;
    background-image: url(arrovw.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 8px;
    background-size: 8px;
    -ms-background-position-x: 95%;
    background-position-x: 95%;
    -ms-background-position-y: center;
    background-position-y: center; }
    .smartbanner__button__label {
      text-align: center;
      display: block;
      padding: 0 20px 0 10px;
      text-transform: uppercase;
      background: none;
      box-shadow: none;
      line-height: 24px;
      text-align: center;
      text-shadow: none;
      font-family: 'LandRoverWide-Demi';
      letter-spacing: 2px; }


@font-face {
  font-family: 'LandRoverWide-Demi';
  src: url('LR/LandRoverWide-Demi.eot'); /* IE9 Compat Modes */
  src: url('LR/LandRoverWide-Demi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('LR/LandRoverWide-Demi.woff2') format('woff2'), /* Super Modern Browsers >>> Chrome 26+, Opera 23+, Firefox 39+ */
       url('LR/LandRoverWide-Demi.woff') format('woff'), /* Pretty Modern Browsers >>> Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('LR/LandRoverWide-Demi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('LR/LandRoverWide-Demi.svg#LandRoverWide-Demi') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('PN/ProximaNova-Reg.eot'); /* IE9 Compat Modes */
  src: url('PN/ProximaNova-Reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('PN/ProximaNova-Reg.woff2') format('woff2'), /* Super Modern Browsers >>> Chrome 26+, Opera 23+, Firefox 39+ */
       url('PN/ProximaNova-Reg.woff') format('woff'), /* Pretty Modern Browsers >>> Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('PN/ProximaNova-Reg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('PN/ProximaNova-Reg.svg#ProximaNova-Regular') format('svg'); /* Legacy iOS */
}

@media screen and (min-width: 375px) {
  .smartbanner__info__title { font-size: 18px; line-height: 15px; }
  .smartbanner__info__author { font-size: 12px; }
}

@media screen and (min-width: 410px) {
  .smartbanner__info__title { font-size: 20px; line-height: 17px; }
}